@tailwind base;
@tailwind components;
@tailwind utilities;

/* .notification {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
} */

/* @layer base {
  :root {
    --radius: 0.5rem;
  }
} */